<!DOCTYPE html>
<html lang="en-US" ng-app="app">
  <head>

    <script src="./Modules/jquerey320.js"></script>
    <script src="./Modules/angular-1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="./Modules/bootstrap-3.3.7/dist/css/bootstrap.min.css"></link>
    <script src="./Modules/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
    <link href="./Modules/bootstrap-toggle-master/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="./Modules/bootstrap-toggle-master/js/bootstrap-toggle.min.js"></script>
    <script src="./js/indexLogic.js"></script>
    <link rel="icon" href="./images/raspberry32x32.ico.png" type="image/gif" sizes="32x32"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <div class="container-fluid col-sm-10 col-md-10  col-xs-12 col-lg-6" ng-controller="myButtonLoaderCtrl">
      <div class="well " ng-repeat="button in buttons">
        <div class="container-fluid">
          <div class="row" >
            <div class="form-group col-sm-12 col-md-12  col-xs-12 col-lg-12">
              <label>{{button.name}}</label>
            </div>
            <div class="btn-group   col-sm-12 col-md-12  col-xs-12 col-lg-12">
              <div class="row">
                <div class=" col-sm-6 col-md-6  col-xs-6 col-lg-6">
                    <button type="button" ng-click="clickButtonOn(button.id)" class="btn btn-success  btn-lg btn-block">on</button>
                </div>
                <div class=" col-sm-6 col-md-6  col-xs-6 col-lg-6">
                    <button type="button" ng-click="clickButtonOff(button.id)" class="btn btn-danger  btn-lg btn-block">off</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="well">
        <div class="container-fluid">
          <div class="row">
            <div class="form-group col-sm-12 col-md-12  col-xs-12 col-lg-12">
              <label>Alle Steckdosen</label>
            </div>
            <div class="btn-group   col-sm-12 col-md-12  col-xs-12 col-lg-12">
              <div class="row">
                <div class=" col-sm-6 col-md-6  col-xs-6 col-lg-6">
                    <button type="button" ng-click="clickAllButtonOn()" class="btn btn-success  btn-lg btn-block">on</button>
                </div>
                <div class=" col-sm-6 col-md-6  col-xs-6 col-lg-6">
                    <button type="button" ng-click="clickAllButtonOff()" class="btn btn-danger  btn-lg btn-block">off</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
